:root {
  /* Fonts */
  --crimson: "Crimson Pro", serif;
  --lora: "Lora", serif;
  --montserrat: "Montserrat", sans-serif;
  /* Colours */
  --bg: #181719;
  --colour: #fff;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--colour);
  margin: 1.1875rem 0.75rem 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-ai-c {
  align-items: center;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-sb {
  justify-content: space-between;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

/* Overlay Styles */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg);
  z-index: 1;
}
#overlay__links {
  position: relative;
  top: 40%;
}
#overlay__links a {
  margin: 0 auto;
  margin-bottom: 2rem;
  display: block;
  width: fit-content;
  color: var(--colour);
  font: 500 1.125rem var(--montserrat);
  transition: font 200ms ease-in-out, border 200ms ease-in-out;
}
#overlay__links a:not(:last-child) {
  margin-bottom: 2rem;
}
#overlay__links a:hover, #overlay__links a:active {
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--colour);
}

.header {
  margin-bottom: 2.375rem;
}
.header__logo {
  font: 200 14px var(--crimson);
  color: #fff;
  border: 1px solid #fff;
  padding: 8px;
}
.header__burger {
  /* Mobile Hamburger Menu */
  z-index: 1;
}
.header__burger > span {
  display: block;
  width: 28.5px;
  height: 2px;
  background-color: var(--colour);
  transition: all 300ms ease;
  transform-origin: 2.25px 1px;
}
.header__burger > span:not(:last-child) {
  margin-bottom: 6.5px;
}
.header__burger--open > span:first-child {
  transform: rotate(45deg);
}
.header__burger--open > span:nth-child(2) {
  opacity: 0;
}
.header__burger--open > span:last-child {
  transform: rotate(-45deg);
}
.header__links a {
  color: var(--colour);
  font: 500 1.125rem var(--montserrat);
  transition: font 200ms ease-in-out, border 200ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 5.375rem;
}
.header__links a:hover, .header__links a:active {
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--colour);
}

.main {
  margin-bottom: 20rem;
}
.main .heroText {
  margin-bottom: 2.3125rem;
}
.main .heroText__header {
  font: 500 2.25rem var(--lora);
  margin-bottom: 1.5625rem;
}
.main .heroText__text {
  font: 400 0.875rem var(--montserrat);
  width: 65%;
  margin-bottom: 1.5625rem;
}
.main .heroText__text + p {
  font: 700 0.875rem var(--montserrat);
}
.main .heroImage {
  position: relative;
}
.main .heroImage__img {
  width: 100%;
}
.main .heroImage__profile {
  background-color: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.8125rem 1.4175rem 1.5625rem;
  width: 75%;
  max-width: 410px;
  position: absolute;
  bottom: -5rem;
  right: 2vw;
}
.main .heroImage__profile__img {
  width: 2.3rem;
  border-radius: 50%;
  margin-right: 0.875rem;
}
.main .heroImage__profile__header {
  margin-bottom: 1.375rem;
}
.main .heroImage__profile__header__text {
  color: var(--colour);
}
.main .heroImage__profile__header__text h1 {
  font: 500 0.75rem var(--montserrat);
}
.main .heroImage__profile__header__text p {
  font: 500 0.625rem var(--montserrat);
  color: #828282;
}
.main .heroImage__profile__header + p {
  font: 700 1.125rem var(--lora);
  width: 75%;
}

#page-container {
  min-height: 100vh;
  position: relative;
}

.footer {
  width: 100%;
  bottom: 0.2vh;
  color: #a9a9a9;
  font: 500 0.875rem var(--montserrat);
}
.footer span {
  font-weight: 700;
}

/* Desktop Styles */
@media (min-width: 64em) {
  body {
    width: 90vw;
    margin: 2.625rem auto;
  }

  .main {
    margin-top: 10.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .heroText {
    width: 40%;
  }
  .main .heroText__header {
    font-size: 3rem;
    padding: 0;
  }
  .main .heroText__text {
    width: 80%;
    font-size: 1.5rem;
  }
  .main .heroText__text + p {
    font-size: 1.125rem;
  }
  .main .heroImage {
    width: 60%;
  }
  .main .heroImage__profile__header__text h1 {
    font-size: 0.875rem;
  }
  .main .heroImage__profile__header__text p {
    font-size: 0.75rem;
  }
  .main .heroImage__profile__header + p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
