@use 'mixins';

html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--colour);
    margin: 1.1875rem 0.75rem 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.flex {
    display: flex;

    &-ai-c {
        align-items: center;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-sb {
        justify-content: space-between;
    }
}

// Visibility
.hide-for-mobile {
    // hide for tablet and mobile devices
    @include mixins.breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    // hide for desktop viewport widths
    @include mixins.breakpoint-up(large) {
        display: none;
    }
}