/* Overlay Styles */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg);

    &__links {
        // height: 100%;
        // padding: 40% 0;

        position: relative;
        top: 40%;

        a {
            margin: 0 auto;
            margin-bottom: 2rem;
            display: block;
            width: fit-content;

            color: var(--colour);
            font: 500 1.125rem var(--montserrat);
            transition: font 200ms ease-in-out, border 200ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            &:hover,
            &:active {
                font-weight: 700;
                padding-bottom: 0.5rem;
                border-bottom: 2px solid var(--colour);
            }
        }
    }
    z-index: 1; //So the overlay menu can show in front of other positioned elements on the page
}