:root {
    /* Fonts */
    --crimson: font-family: 'Crimson Pro', serif;
    --lora: font-family: 'Lora', serif;
    --montserrat: font-family: 'Montserrat', sans-serif;

    /* Colours */
    --bg: #181719;
    --text: #fff;
}


