@use 'variables';
@use 'globals';
@use 'overlay';
@use 'header';
@use 'main';


#page-container {
    min-height: 100vh;
    position: relative;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 1vh;
    margin-top: 10rem;
    margin-bottom: 1rem;

    color: #a9a9a9;
    font: 500 0.875rem var(--montserrat);
    span {
        font-weight: 700;
    }
}