@use 'globals';

body {
    background-color: var(--bg);
    color: var(--colour);
}

#page-container {
    margin: 1.1875rem 0.75rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.375rem;

    #logo {
        font: 200 14px var(--crimson);
        padding: 8px;
        border: 1px solid #fff;
    }

    .burger-menu span {
        display: block;
        width: 28.5px;
        height: 2px;
        background-color: var(--colour);

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.hero-text {
    h1 {
        font: 500 2.25rem var(--lora);
        margin-bottom: 1.5625rem;
    }

    p {
        font: 400 0.875rem var(--montserrat);
        margin-bottom: 1.5625rem;

        &+p {
            font-weight: 700;
            margin-bottom: 2.3125rem;
        }
    }
}

.hero-image {
    position: relative;

    #photo1 {
        width: 100%;
    }

    .profile-box {
        width: 18.75rem;

        .profile-header {

            img,
            div {
                display: inline-block;
            }

            img {
                width: 2.2875rem;
                border-radius: 50%;
            }
        }
    }
}